body{
    background-color: rgb(255, 145, 0);
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: center;
}

.botoes{
    width: 25vw;
    background-color: rgb(255, 145, 0);
    color: #FFF;
    border: 1px solid #FFF;
    font-size: 32px;
    border-radius: 10px;
    padding: 15px 15px;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
}

.botoes:hover{
    box-shadow: 1px 1px 12px 2px black;
    cursor: pointer;
}